{
    "logLevel": "debug",
    "serverAuditLog": true,
    "servers": [
      {
        "hostname": "example.corp.scencdn.com",
        "username": "root",
        "distro": "ubuntu20",
        "subscribedFunctions": ["updateOS"]
      }
    ]
  }