{
    "logLevel": "debug",
    "serverAuditLog": true,
    "githubConfig": {
      "token": "token",
      "repoURL": "https://test.com/repo"
    },
    "servers": [
      {
        "hostname": "example.corp.scencdn.com",
        "username": "root",
        "type": "ubuntu20",
        "subscribedFunctions": ["updateOS"]
      }
    ]
  }